.summary-and-percentages-container {
  display: flex;
  flex-direction: row; /* Arrange items horizontally */
  justify-content: space-between; /* Add space between the chart and summary */
  align-items: flex-start; /* Align items at the top */
  padding: 20px;
  gap: 200px; /* Add spacing between the chart and summary */
}

.chart-section {
  width: 40%; /* Adjust width for the pie chart */
  text-align: center;
}

.chart-wrapper {
  width: 100%;     /* or fixed value like 500px */
  max-width: 600px;
  height: 400px;
}

.chart-wrapper canvas {
  width: 100% !important;
  height: 100% !important;
}

.chart-section h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #004d40; /* Change the color of the header in the chart section */
}

.summary-section {
  width: 55%; /* Adjust width for the summary table */
}

.summary-section h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #004d40; /* Change the color of the header in the summary section */
}

.summary-table {
  width: 100%;
  border-collapse: collapse;
}

.summary-table th, .summary-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.summary-table th {
  background-color: #0d8b76;
  color: white;
  font-size: 1.2rem;
}

.summary-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.back-button {
  margin: 30px 0 50px 190px;
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: darkgreen;
}